body {
    color: rgb(32, 32, 32);
    font-family: 'Montserrat';
    margin: 0px;
}
main {
    margin: 10px 20px 56px;
}
header {
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    padding: 10px;
    font-size: 16px;
    text-align: left;
}
.header-logo {
    height: 30px;
    padding: 10px;
    cursor: pointer;
}
footer {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
button {
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 203, 8);
    color: rgb(32, 32, 32);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: rgb(247, 189, 27);
    transition: 0.2s;
}
